div form label{
    font-size: large;
}
div form input{
    text-align: right;
}
.info{
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    width: 200px;
    height: 150px;
    text-align: center;
    margin: 10px;
}