<div class="header">
  <h1>Dojo Weather Forecast</h1>
  <div>
    <a [routerLink]="['/seattle']">Seattle WA</a><span class="vl">|</span>
    <a [routerLink]="['/sanjose']">San Jose CA</a><span class="vl">|</span>
    <a [routerLink]="['/burbank']">Burbank CA</a><span class="vl">|</span>
    <a [routerLink]="['/dallas']">Dallas TX</a><span class="vl">|</span>
    <a [routerLink]="['/dc']">Washington DC</a><span class="vl">|</span>
    <a [routerLink]="['/chicago']">Chicago IL</a>
  </div>
</div>


<router-outlet></router-outlet>
