<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Result</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Submitted Information</h1>
        <p>Name: <%= form['name'] %></p>
        <p>Dojo Location: <%= form.location %></p>
        <p>Favorite Language: <%= form.lang %></p>
        <p>Comment: <%= form.comment %></p>
        <button type="button"><a href="/">Go Back</a></button>
    </body>
</html>