<div>
  <h1>Add a Quote</h1>
  <form (submit)="onSubmit()" #formData="ngForm">
    <textarea cols="50" rows="5" name="content"
              [(ngModel)]="quote.content"
              #content="ngModel"
              minlength="4"
              required></textarea>
    <p>Author <input type="text" name="author" minlength="1" required [(ngModel)]="quote.author" #author="ngModel"> <input type="submit" value="Add Quote"  [disabled]="!formData.valid"></p>

  </form>
  <div class="validation">
    <p *ngIf="!content.valid" class="invalid">Quote is required and must be at least four characters</p>
    <p *ngIf="!author.valid" class="invalid">Author is required and must be at least one character</p>
  </div>
</div>