<table>
  <tr>
    <th>Player Name</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let player of players; let i = index">
    <td>{{player.name}}</td>
    <td>
      <button [ngClass]="{'playing': player.gametwo == 'Playing'}" (click)="updatePlaying(player._id, i)">Playing</button>
      <button [ngClass]="{'notplaying': player.gametwo == 'Not Playing'}" (click)="updateNotPlaying(player._id, i)">Not Playing</button>
      <button [ngClass]="{'undecided': player.gametwo == 'Undecided'}" (click)="updateUndecided(player._id, i)">Undecided</button>
    </td>
  </tr>
</table>